<div id="header">
  <% if user_signed_in? %>
    <p>You're signed in</p>
  <% else %>
    <p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
  <% end %>
</div>

<div id="dropzone_container">
  <div id="dropzone">
    <div id="label">
      Drop a file here to share it on facebook or twitter.
    </div>
    <div id="pickfiles"></div>
    <div id="percentage"></div>
  </div>
</div>

<div id="footer">
  (c) 2010 <a href="http://midventures.com/">midVentures Group, Inc</a>. | <a href="http://by.colinyoung.com/">Code by Colin Young</a> | <a href="http://twitter.com/dropply">@dropply</a> on twitter
</div>